{% extends "base.html" %}
{% block content %}
<div class="chat-wrapper">
    <div class="chat-header">
        <h2>Chat App</h2>
      </div>
    <div class="chat-messages">
        {% for chat in chat_logs %}
            {% if chat.user == 'received' %}
                <div class="message received">{{ chat.text }}</div>
            {% else %}
                <div class="message sent">{{ chat.text }}</div>
            {% endif %}
        {% endfor %}
    </div>
    <form class="chat-input-container" method="post" action="">
        <input type="text" class="message-input" placeholder="Type your message..." name="message">
        <button class="send-button" type="submit">Send</button>
        {% csrf_token %}
    </form>
</div>
{% endblock %}