{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="chat-wrapper">
    <div class="chat-header">
        <h2>Chat App</h2>
        <h4 id="room-id">{{ room_id }}</h4>
      </div>
    <div class="chat-messages">
        {% for chat in chat_logs %}
            {% if chat.user == 'received' %}
                <div class="message received">{{ chat.text }}</div>
            {% else %}
                <div class="message sent">{{ chat.text }}</div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="chat-input-container" >
        <input type="text" class="message-input" placeholder="Type your message..." name="message">
        <button class="send-button" type="submit">Send</button>
        {% csrf_token %}
    </div>
    <script src="{% static 'js/scripts.js' %}"></script>
</div>
{% endblock %}